@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
    margin: 0;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
    background-color: linear-gradient(to bottom left,
                rgba(17, 16, 16, 0.582),
                rgba(12, 8, 24, 0.904));
    color: white !important;
}
html {
    --imp-text-color: #c770f0;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 1000000;
    top: 0;
}

.nav-link:hover{
    color: #cd5ff8 !important;
}

.purple {
    color: var(--imp-text-color) !important;
}

.purple-2 {
    color: var(--imp-text-color) !important;
    background-color: #c770f0 !important;
    font-size: 1.2rem !important;
    margin-top: 20px  !important;
    transition: transform .2s !important;
}
.purple-2:hover{
    transform: scale(1.1);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.profile {
    transform: scale(1.3);
    transition: transform .2s;
}

.profile:hover {
    border: none;
    transform: scale(1.5);
}
/* home */
.main-name {
    color: #cd5ff8;
}

.Typewriter__wrapper {
    color: #be6adf !important;
    font-weight: 600 !important;
}

.Typewriter__cursor {
    font-size: 1.2em !important;
    color: #b562d6 !important;
}

.tech-icons {
    /* font-size: 1.5rem !important; */
    font-weight: 500;
    margin: 15px !important;
    padding: 10px !important;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    /* vertical-align: middle !important; */
    text-align: center !important;
    border-radius: 5px !important;
    /* display: table !important; */
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
    .tech-icons {
        margin: 10px !important;
    }
}

.tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
}

/* Project */

.project-heading {
    text-align: left;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}

.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

.project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
}

.project-card-view {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
}

.project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.card-img-top {
    padding: 10px !important;
    border-radius: 10px !important;
    object-fit: contain;
}

.btn-primary {
    color: #fff !important;
    background-color: #6d20c5d7 !important;
    border-color: #6d20c5d7 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #623686 !important;
    border-color: #623686 !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.home-about-social {
    text-align: center !important;
    padding-top: 25px;
}

.home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
}

.home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: rgba(255, 255, 255, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
}

.home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #68187a;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

.home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
    color: #87209e;
    box-shadow: 0 0 5px #87209e;
    text-shadow: 0 0 2px #87209e;
}

.social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
}

.icon-colour {
    color: #700c86 !important;
}